<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Covid Travel Pass | Portal</title>
    <link href="styles.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed top navbar-primary bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="color:white">Covid Travel E-Ticket</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container" style="padding-top:50px">
        <h1 style="text-align:center">E-TICKET DETAILS</h1>
        <div class="card bg_image">

            <div class="card-body">
                <h5 class="card-title">
                    <h2>Name:{{var1}}</h2>
                </h5>
                <p class="card-text">
                <h2>Email Id:{{var2}}</h2>
                </p>
                <p class="card-text">
                <h2>Aadhar Number:{{var3}}</h2>
                </p>
                <p class="card-text">
                <h2>Travelling to:{{var6}} , District:{{var7}}</h2>
                </p>
                <p class="card-text">
                <h2>Travelling from:{{var4}} , District:{{var5}}</h2>
                </p>
                <p class="card-text">
                <h2>Phone no.:{{var8}}</h2>
                </p>
                <p class="card-text">
                <h2>Date of travel:{{var10}}</h2>
                </p>
                <p class="card-text">
                <h2>Status:{{var9}}</h2>
                </h2>
                </p>
                <a href="/" class="btn btn-primary">Back</a>
            </div>
    </div>


</body>